.lead__subtitle {
    margin: 0;
    padding: 0;
    margin: 32px auto 0 auto;
    max-width: 640px;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
}