.footer__column-links {
    min-width: 465px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__column-links {
        min-width: 186px;
        min-height: 248px;
        flex-direction: column;
    }
}